@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.slideIn {
    animation: slideInFromLeft 0.7s ease forwards;
}

.iconLink {
    color: #6c757d;
    transition: color 0.2s ease;
}

.iconLink:hover {
    color: #adb5bd;
}