:root[data-bs-theme="dark"] {
    --bs-body-bg: #000000;
    --bs-body-bg-rgb: 0, 0, 0;
}

body {
    padding-top: 56px;
    background-color: #000000 !important;
}

.vertical-timeline-element-date {
    color: #fff !important;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeSlide 1s ease-out forwards;
}

@keyframes fadeSlide {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}